.container {
    display: flex;
    justify-content: space-between;
  }
  
  .left, .center, .right {
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .left img, .center img, .right img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .left h2, .center h2, .right h2 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .left p, .center p, .right p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #666;
  }

  h1{
    color: white;
  }