.glass2{
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 150px;
    /* justify-content: ; */
    /* align-items: center; */
    /* text-align: center; */
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    /* font-weight: bold; */
    font-family: 'Roboto', sans-serif;
    margin: 1rem 0;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px   rgba(0, 0, 0, 0.08); */
}
.num{
    padding-bottom: 1rem;
}
.num input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    margin: 2rem 0 3rem 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.num button{
    flex: 0.6;
    width: 50%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: linear-gradient(to right,#122C6F, #11D9C5, #122C6F);
    border: 2px solid #11D9C5;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    /* border-bottom-right-radius: 5px; */
}
